---
swagger: '2.0'
info:
  title: VyatSU schedule api server
  contact:
    name: Ali Rzaev
    email: alirzaev1996@gmail.com
    url: https://vk.me/rzaevali
  version: 2.0.1
host: api.vyatsuschedule.ru
paths:
  "/api/v2/calls":
    get:
      summary: Get calls schedule
      produces:
      - application/json
      responses:
        '200':
          description: | 
            Calls schedule as array of lesson' time intervals.
          schema:
            type: array
            items:
              "$ref": "#/definitions/Call"
          examples:
            application/json:
            - start: '8:20'
              end: '9:50'
            - start: '10:00'
              end: '11:30'
            - start: '11:45'
              end: '13:15'
            - start: '14:00'
              end: '15:30'
            - start: '15:45'
              end: '17:15'
            - start: '17:20'
              end: '18:50'
            - start: '18:55'
              end: '20:25'
        '500':
          description: Unexpected error
          schema:
            "$ref": "#/definitions/UnknownErrorInfo"
          examples:
            application/json:
              error: INTERNAL SERVER ERROR
  "/api/v2/groups/list":
    get:
      summary: Get list of groups
      produces:
      - application/json
      responses:
        '200':
          description: List of all groups with group id and group name
          schema:
            type: array
            items:
              "$ref": "#/definitions/GroupInfo"
          examples:
            application/json:
            - id: '8472'
              name: ПИм-2302-02-00
            - id: '8949'
              name: МКм-1301-51-00
            - id: '8305'
              name: МКб-3301-51-00
            - id: '8423'
              name: ПМИм-2301-01-00
        '500':
          description: Unexpected error
          schema:
            "$ref": "#/definitions/UnknownErrorInfo"
          examples:
            application/json:
              error: INTERNAL SERVER ERROR
  "/api/v2/groups/by_faculty":
    get:
      summary: Get groups of faculties
      produces:
      - application/json
      responses:
        '200':
          description: Lists of groups of faculties
          schema:
            type: array
            items:
              "$ref": "#/definitions/FacultyInfo"
          examples:
            application/json:
            - faculty: ИББТ (Институт биологии и биотехнологии)
              groups:
              - id: '8853'
                name: БТб-1101-02-00
              - id: '8854'
                name: БТб-1102-02-00
            - faculty: ФАВТ (Факультет автоматики и вычислительной техники)
              groups:
              - id: '8850'
                name: БИб-1301-01-00
              - id: '8367'
                name: БИб-2301-01-00
        '500':
          description: Unexpected error
          schema:
            "$ref": "#/definitions/UnknownErrorInfo"
          examples:
            application/json:
              error: INTERNAL SERVER ERROR
  "/api/v2/schedule/{group_id}/{season}":
    get:
      summary: Get group's schedule
      produces:
      - application/json
      parameters:
      - name: group_id
        in: path
        type: string
        description: The group for which you want the schedule
      - name: season
        in: path
        type: string
        description: The semester (aka _season_) for which you want the group's schedule
        enum:
        - autumn
        - spring
      responses:
        '200':
          description: Group's schedule
          schema:
            "$ref": "#/definitions/ScheduleInfo"
          examples:
            application/json:
              weeks:
              - - - ''
                  - Математика Чтение лекций Ситникова И.В. 1-242
                  - Физика Проведение практических занятий, семинаров Фролов В.М.
                    1-222
                  - ''
                  - ''
                  - ''
                  - ''
                - - Общая физическая подготовка Проведение практических занятий, семинаров
                    Преподаватель К.Ф. 9-122
                  - Общая физическая подготовка Проведение практических занятий, семинаров
                    Преподаватель К.Ф. 9-122
                  - Теория автоматов Проведение практических занятий, семинаров Мельцов
                    В.Ю. 1-239
                  - ИВТб-2301-01-00, 01 подгруппа Лб. Электротехника и электроника
                    Куваев А.С. 2-308
                  - ИВТб-2301-01-00, 01 подгруппа Лб. Электротехника и электроника
                    Куваев А.С. 2-308
                  - ''
                  - ''
                - - ИВТб-2301-01-00, 01 подгруппа Физика Проведение лабораторных занятий
                    в подгруппах Фролов В.М. 14-330 ИВТб-2301-01-00, 02 подгруппа
                    Физика Проведение лабораторных занятий в подгруппах Заграй И.А.
                    14-240
                  - ИВТб-2301-01-00, 01 подгруппа Физика Проведение лабораторных занятий
                    в подгруппах Фролов В.М. 14-330 ИВТб-2301-01-00, 02 подгруппа
                    Физика Проведение лабораторных занятий в подгруппах Заграй И.А.
                    14-240
                  - ''
                  - ИВТб-2301-01-00, 02 подгруппа Лб. Электротехника и электроника
                    Куваев А.С. 2-308
                  - ИВТб-2301-01-00, 02 подгруппа Лб. Электротехника и электроника
                    Куваев А.С. 2-308
                  - ''
                  - ''
                - - ИВТб-2301-01-00, 02 подгруппа Лб. Вычислительная математика Старостин
                    П.А. 1-114
                  - ИВТб-2301-01-00, 02 подгруппа Лб. Вычислительная математика Старостин
                    П.А. 1-114
                  - Вычислительная математика Проведение практических занятий, семинаров
                    Старостин П.А. 1-313
                  - Вычислительная математика Чтение лекций Исупов К.С. 1-313
                  - ''
                  - ''
                  - ''
                - - ''
                  - Теория автоматов Чтение лекций Мельцов В.Ю. 1-242
                  - Электротехника и электроника Чтение лекций Куваев А.С. 1-242
                  - ''
                  - ''
                  - ''
                  - ''
                - - ИВТб-2301-01-00, 02 подгруппа Лб. Компьютерная графика Вожегов
                    Д.В. 1-113
                  - ИВТб-2301-01-00, 02 подгруппа Лб. Компьютерная графика Вожегов
                    Д.В. 1-113
                  - Компьютерная графика Чтение лекций Вожегов Д.В. 1-313
                  - ''
                  - ''
                  - ''
                  - ''
              - - - ''
                  - Математика Чтение лекций Ситникова И.В. 1-242
                  - Физика Чтение лекций Фролов В.М. 1-242
                  - ИВТб-2301-01-00, 02 подгруппа Лб. Электротехника и электроника
                    Куваев А.С. 2-308
                  - ИВТб-2301-01-00, 01 подгруппа Лб. Электротехника и электроника
                    Куваев А.С. 2-308
                  - ''
                  - ''
                - - Физическая культура Проведение практических занятий, семинаров
                    Преподаватель К.Ф. 9-122_
                  - Физическая культура Проведение практических занятий, семинаров
                    Преподаватель К.Ф. 9-122_
                  - Иностранный язык Проведение практических занятий, семинаров Дубовцева
                    Л.В. 2-102
                  - ''
                  - ''
                  - ''
                  - ''
                - - ИВТб-2301-01-00, 01 подгруппа Лб. Теория автоматов Мельцов В.Ю.
                    1-239 ИВТб-2301-01-00, 02 подгруппа Лб. Теория автоматов Мельцов
                    В.Ю. 1-239
                  - ИВТб-2301-01-00, 01 подгруппа Лб. Теория автоматов Мельцов В.Ю.
                    1-239 ИВТб-2301-01-00, 02 подгруппа Лб. Теория автоматов Мельцов
                    В.Ю. 1-239
                  - Теория автоматов Чтение лекций Мельцов В.Ю. 1-128
                  - Компьютерная графика Чтение лекций Вожегов Д.В. 1-128
                  - ''
                  - ''
                  - ''
                - - ИВТб-2301-01-00, 01 подгруппа Математика Проведение лабораторных
                    занятий в подгруппах Серова А.С. 2-207
                  - ИВТб-2301-01-00, 01 подгруппа Математика Проведение лабораторных
                    занятий в подгруппах Серова А.С. 2-207
                  - Электротехника и электроника Чтение лекций Куваев А.С. 1-242
                  - Вычислительная математика Чтение лекций Исупов К.С. 1-242
                  - ''
                  - ''
                  - ''
                - - ИВТб-2301-01-00, 01 подгруппа Лб. Вычислительная математика Старостин
                    П.А. 1-113
                  - ИВТб-2301-01-00, 01 подгруппа Лб. Вычислительная математика Старостин
                    П.А. 1-113
                  - ''
                  - ''
                  - ''
                  - ''
                  - ''
                - - ИВТб-2301-01-00, 01 подгруппа Лб. Компьютерная графика Вожегов
                    Д.В. 1-113
                  - ИВТб-2301-01-00, 01 подгруппа Лб. Компьютерная графика Вожегов
                    Д.В. 1-113
                  - ИВТб-2301-01-00, 02 подгруппа Математика Проведение лабораторных
                    занятий в подгруппах Серова А.С. 2-207
                  - ИВТб-2301-01-00, 02 подгруппа Математика Проведение лабораторных
                    занятий в подгруппах Серова А.С. 2-207
                  - ''
                  - ''
                  - ''
              group: ИВТб-2301-01-00
              today:
                week: 1
                dayOfWeek: 0
              date_range:
                begin: '18122017'
                end: '31122017'
        '422':
          description: Error during schedule parsing or due to incorrect path params
          schema:
            "$ref": "#/definitions/ScheduleErrorInfo"
          examples:
            application/json:
              error: NO_SUCH_GROUP
        '500':
          description: Unexpected error
          schema:
            "$ref": "#/definitions/UnknownErrorInfo"
          examples:
            application/json:
              error: INTERNAL SERVER ERROR
  "/api/v2/season/current":
    get:
      summary: Get current season
      produces:
      - application/json
      responses:
        '200':
          description: 'Current season'
          schema:
            "$ref": "#/definitions/SeasonInfo"
          examples:
            application/json:
              season: spring
        '500':
          description: Unexpected error
          schema:
            "$ref": "#/definitions/UnknownErrorInfo"
          examples:
            application/json:
              error: INTERNAL SERVER ERROR
definitions:
  Call:
    type: object
    properties:
      start:
        type: string
        description: Lesson's begin in the time format `hh:mm`
      end:
        type: string
        description: Lesson's end in the time format `hh:mm`
  GroupInfo:
    type: object
    properties:
      id:
        type: string
        description: Group id
      name:
        type: string
        description: Group name
  FacultyInfo:
    type: object
    properties:
      faculty:
        type: string
        description: Faculty shorthand name with full name in parentheses 
      groups:
        type: array
        description: List of faculty groups as objects
        items:
          "$ref": "#/definitions/GroupInfo"
  DayInfo:
    type: array
    items:
      type: string
  WeekInfo:
    type: array
    items:
      "$ref": "#/definitions/DayInfo"
  DateRangeInfo:
    type: object
    description: Date range for which schedule is valid
    properties:
      begin:
        type: string
        description: Range's begin in the date format `ddMMyyyy`
      end:
        type: string
        description: Range's end in the date format `ddMMyyy`
  TodayInfo:
    type: object
    description: Pointer to the today's schedule in the field `weeks`
    properties:
      week:
        type: integer
        description: Index of the week
        minimum: 0
        maximum: 1
      dayOfWeek:
        type: integer
        description: Index of the day in the week
        minimum: 0
        maximum: 5
  ScheduleInfo:
    type: object
    properties:
      group:
        type: string
        description: Group name
      today:
        "$ref": "#/definitions/TodayInfo"
      date_range:
        "$ref": "#/definitions/DateRangeInfo"
      weeks:
        type: array
        description: |
          Schedule as three-dimensional array `[week_number][day_number][lesson_number]` of strings, where 
          * week_number = `0..1`, `0` - odd week, `1` - even week
          * day_number = `0..5`, `0` - Monday, `1` - Tuesday, etc
          * lesson_number = `0..6`, `0` - 1st lesson, `1` - 2nd lesson, etc
        items:
          "$ref": "#/definitions/WeekInfo"
  ScheduleErrorInfo:
    type: object
    properties:
      error:
        description: |
          Error description. Known error types:
          * PDF_PARSE_ERROR - Unknown error was occurred during schedule parsing
          * INVALID_SEASON - Parameter `season` doesn't equal to `autumn` nor `spring`
          * NO_SUCH_GROUP - No group with group id passed in parameter `group_id`
          * NO_SUCH_SCHEDULE - No schedule for given combination of group id and season
        type: string
        maxLength: 40
  UnknownErrorInfo:
    type: object
    properties:
      error:
        description: Error description
        type: string
        maxLength: 40
  SeasonInfo:
    type: object
    properties:
      season:
        type: string
        description: 'Name of the season: `autumn` - first, `spring` - second'
        enum:
        - autumn
        - spring
