{
	"swagger": "2.0",
	"info": {
		"title": "VyatSU schedule api server",
		"contact": {
			"name": "Ali Rzaev",
			"email": "alirzaev1996@gmail.com",
			"url": "https://vk.me/rzaevali"
		},
		"version": "2.0.0"
	},
	"host": "api.vyatsuschedule.ru",
	"paths": {
		"/api/v2/calls": {
			"get": {
				"summary": "Get calls schedule",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Calls schedule as array of lesson' time intervals",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Call"
							}
						},
						"examples": {
							"application/json": [
								{ "start": "8:20",  "end": "9:50"  },  
								{ "start": "10:00", "end": "11:30" },  
								{ "start": "11:45", "end": "13:15" },  
								{ "start": "14:00", "end": "15:30" },  
								{ "start": "15:45", "end": "17:15" },  
								{ "start": "17:20", "end": "18:50" },  
								{ "start": "18:55", "end": "20:25" }
							]
						}
					}
				}
			}
		},
		"/api/v2/groups/list": {
			"get": {
				"summary": "Get list of groups",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "List of all groups with group id and group name",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/GroupInfo"
							}
						},
						"examples": {
							"application/json": [
								{
									"id": "8472",
									"name": "ПИм-2302-02-00"
								},
								{
									"id": "8949",
									"name": "МКм-1301-51-00"
								},
								{
									"id": "8305",
									"name": "МКб-3301-51-00"
								},
								{
									"id": "8423",
									"name": "ПМИм-2301-01-00"
								}
							]
						}
					}
				}
			}
		},
		"/api/v2/groups/by_faculty": {
			"get": {
				"summary": "Get lists of groups",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Lists of groups ordered by faculties",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/FacultyInfo"
							}
						},
						"examples": {
							"application/json": [
								{
									"faculty": "ИББТ (Институт биологии и биотехнологии)",
									"groups": [
									  {
										"id": "8853",
										"name": "БТб-1101-02-00"
									  },
									  {
										"id": "8854",
										"name": "БТб-1102-02-00"
									  }
									]
								},
								{
									"faculty": "ФАВТ (Факультет автоматики и вычислительной техники)",
									"groups": [
										{
											"id": "8850",
											"name": "БИб-1301-01-00"
										},
										{
											"id": "8367",
											"name": "БИб-2301-01-00"
										}
									]
								}
							]
						}
					}
				}
			}
		},
		"/api/v2/schedule/{group_id}/{season}": {
			"get": {
				"summary": "Get group's schedule",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "group_id",
						"in": "path",
						"type": "integer",
						"description": "The group for which schedule is requested"
					},
					{
						"name": "season",
						"in": "path",
						"type": "string",
						"description": "The semester for which group's schedule is requested",
						"enum": ["autumn", "spring"]
					}
				],
				"responses": {
					"200": {
						"description": "Group's schedule",
						"schema": {
							"$ref": "#/definitions/ScheduleInfo"
						},
						"examples": {
							"application/json": {
							  "weeks": [
							    [
							      [
							        "",
							        "Математика Чтение лекций Ситникова И.В. 1-242",
							        "Физика Проведение практических занятий, семинаров Фролов В.М. 1-222",
							        "",
							        "",
							        "",
							        ""
							      ],
							      [
							        "Общая физическая подготовка Проведение практических занятий, семинаров Преподаватель К.Ф. 9-122",
							        "Общая физическая подготовка Проведение практических занятий, семинаров Преподаватель К.Ф. 9-122",
							        "Теория автоматов Проведение практических занятий, семинаров Мельцов В.Ю. 1-239",
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Электротехника и электроника Куваев А.С. 2-308",
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Электротехника и электроника Куваев А.С. 2-308",
							        "",
							        ""
							      ],
							      [
							        "ИВТб-2301-01-00, 01 подгруппа Физика Проведение лабораторных занятий в подгруппах Фролов В.М. 14-330 ИВТб-2301-01-00, 02 подгруппа Физика Проведение лабораторных занятий в подгруппах Заграй И.А. 14-240",
							        "ИВТб-2301-01-00, 01 подгруппа Физика Проведение лабораторных занятий в подгруппах Фролов В.М. 14-330 ИВТб-2301-01-00, 02 подгруппа Физика Проведение лабораторных занятий в подгруппах Заграй И.А. 14-240",
							        "",
							        "ИВТб-2301-01-00, 02 подгруппа Лб. Электротехника и электроника Куваев А.С. 2-308",
							        "ИВТб-2301-01-00, 02 подгруппа Лб. Электротехника и электроника Куваев А.С. 2-308",
							        "",
							        ""
							      ],
							      [
							        "ИВТб-2301-01-00, 02 подгруппа Лб. Вычислительная математика Старостин П.А. 1-114",
							        "ИВТб-2301-01-00, 02 подгруппа Лб. Вычислительная математика Старостин П.А. 1-114",
							        "Вычислительная математика Проведение практических занятий, семинаров Старостин П.А. 1-313",
							        "Вычислительная математика Чтение лекций Исупов К.С. 1-313",
							        "",
							        "",
							        ""
							      ],
							      [
							        "",
							        "Теория автоматов Чтение лекций Мельцов В.Ю. 1-242",
							        "Электротехника и электроника Чтение лекций Куваев А.С. 1-242",
							        "",
							        "",
							        "",
							        ""
							      ],
							      [
							        "ИВТб-2301-01-00, 02 подгруппа Лб. Компьютерная графика Вожегов Д.В. 1-113",
							        "ИВТб-2301-01-00, 02 подгруппа Лб. Компьютерная графика Вожегов Д.В. 1-113",
							        "Компьютерная графика Чтение лекций Вожегов Д.В. 1-313",
							        "",
							        "",
							        "",
							        ""
							      ]
							    ],
							    [
							      [
							        "",
							        "Математика Чтение лекций Ситникова И.В. 1-242",
							        "Физика Чтение лекций Фролов В.М. 1-242",
							        "ИВТб-2301-01-00, 02 подгруппа Лб. Электротехника и электроника Куваев А.С. 2-308",
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Электротехника и электроника Куваев А.С. 2-308",
							        "",
							        ""
							      ],
							      [
							        "Физическая культура Проведение практических занятий, семинаров Преподаватель К.Ф. 9-122_",
							        "Физическая культура Проведение практических занятий, семинаров Преподаватель К.Ф. 9-122_",
							        "Иностранный язык Проведение практических занятий, семинаров Дубовцева Л.В. 2-102",
							        "",
							        "",
							        "",
							        ""
							      ],
							      [
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Теория автоматов Мельцов В.Ю. 1-239 ИВТб-2301-01-00, 02 подгруппа Лб. Теория автоматов Мельцов В.Ю. 1-239",
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Теория автоматов Мельцов В.Ю. 1-239 ИВТб-2301-01-00, 02 подгруппа Лб. Теория автоматов Мельцов В.Ю. 1-239",
							        "Теория автоматов Чтение лекций Мельцов В.Ю. 1-128",
							        "Компьютерная графика Чтение лекций Вожегов Д.В. 1-128",
							        "",
							        "",
							        ""
							      ],
							      [
							        "ИВТб-2301-01-00, 01 подгруппа Математика Проведение лабораторных занятий в подгруппах Серова А.С. 2-207",
							        "ИВТб-2301-01-00, 01 подгруппа Математика Проведение лабораторных занятий в подгруппах Серова А.С. 2-207",
							        "Электротехника и электроника Чтение лекций Куваев А.С. 1-242",
							        "Вычислительная математика Чтение лекций Исупов К.С. 1-242",
							        "",
							        "",
							        ""
							      ],
							      [
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Вычислительная математика Старостин П.А. 1-113",
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Вычислительная математика Старостин П.А. 1-113",
							        "",
							        "",
							        "",
							        "",
							        ""
							      ],
							      [
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Компьютерная графика Вожегов Д.В. 1-113",
							        "ИВТб-2301-01-00, 01 подгруппа Лб. Компьютерная графика Вожегов Д.В. 1-113",
							        "ИВТб-2301-01-00, 02 подгруппа Математика Проведение лабораторных занятий в подгруппах Серова А.С. 2-207",
							        "ИВТб-2301-01-00, 02 подгруппа Математика Проведение лабораторных занятий в подгруппах Серова А.С. 2-207",
							        "",
							        "",
							        ""
							      ]
							    ]
							  ],
							  "group": "ИВТб-2301-01-00",
							  "today": [1, 0],
							  "date_range": [
							    "18122017",
							    "31122017"
							  ]
							}
						}
					}
				}
			}
		},
		"/api/v2/season/current": {
			"get": {
				"summary": "Get current season",
				"produces": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Current season: `autumn` - first, `spring` - second",
						"schema": {
							"$ref": "#/definitions/SeasonInfo"
						},
						"examples": {
							"application/json": {
								"season": "spring"
							}
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Call": {
			"type": "object",
			"properties": {
				"start": {
					"type": "string"
				},
				"end": {
					"type": "string"
				}
			}
		},
		"GroupInfo": {
			"type": "object",
			"properties": {
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				}
			}
		},
		"FacultyInfo": {
			"type": "object",
			"properties": {
				"faculty": {
					"type": "string"
				},
				"groups": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/GroupInfo"
					}
				}
			}
		},
		"DayInfo": {
			"type": "array",
			"items": {
				"type": "string"
			}
		},
		"WeekInfo": {
			"type": "array",
			"items": {
				"$ref": "#/definitions/DayInfo"
			}
		},
		"ScheduleInfo": {
			"type": "object",
			"properties": {
				"group": {
					"type": "string"
				},
				"today": {
					"type": "array",
					"items": {
						"type": "integer"
					}
				},
				"date_range": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"weeks": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/WeekInfo"
					}
				}
			}
		},
		"SeasonInfo": {
			"type": "object",
			"properties": {
				"season": {
					"type": "string",
					"enum": ["autumn", "spring"]
				}
			}
		}
	}
}